.btn {
	width: 85px;
	height:25px;
}

.container {
	width: 600px;
	height:300px;
	position: absolute;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	margin: auto;
}

.container > #drop_zone {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-top:1px Solid #d2dbe3;
	border-bottom:1px Solid #d2dbe3;
	border-right:1px Solid #d2dbe3;
	border-left: 1px Solid #d2dbe3;
	box-shadow: 0 1px 0 #d2dbe3;
    border-radius: 10px;
    width: 400px;
    height: 200px;
    text-align: center;
}

.container > #drop_zone > .img {
	width: 90px;
	height:90px;
	/*/background: #ccc;*/
	border-radius: 10px;
	position: relative;
	margin-top: 68px;
	margin-left: 150px;
}

.container > #drop_zone > .drag-txt {
	position: relative;
	top: 30%;
}

.container > .btn {
	width:150px;
	height:30px;
	border-radius: 10px;
	border:none;
	position: relative;
	margin-top: 265px;
	margin-left: 230px;
}

.container > .btn:hover {
	cursor:pointer;
}

.chiper-container {
	position: absolute;
	background-color:#fff;
	height:175px;
	max-height: 275px;
	width:500px;
	border-top:1px Solid #d2dbe3;
	border-bottom:1px Solid #d2dbe3;
	border-right:1px Solid #d2dbe3;
	border-left: 1px Solid #d2dbe3;
	border-radius:3px 3px 3px 3px;
	box-shadow: 0 1px 0 #d2dbe3;
	left:0;
	right:0;
	margin: 0 auto;
}

#key{
	border:1px Solid #fff;
	border-bottom:1px Solid #e3e8e6;
	font:normal 13px Tahoma,sans-serif,Arial,Helvetica;
	left:0;right:0;
	margin:auto;
	margin-top:24px;
	padding:10px;
	padding-left:1px;
	position:absolute;
	width:346px
}

#block{
	border:1px Solid #fff;
	border-bottom:1px Solid #e3e8e6;
	font:normal 13px Tahoma,sans-serif,Arial,Helvetica;
	left:0;
	right:0;
	margin:auto;
	margin-top:85px;
	padding:10px;
	padding-left:1px;
	position:absolute;
	width:346px
}

.dechiper-btn{
	background:#465a7c;
	border-radius:7px;
	border:transparent;
	color:#fff;
	cursor:pointer;
	font:bold 13px/18px Tahoma,sans-serif,Arial,Helvetica;
	height:30px;
	left:0;
	right:0;
	margin:auto;
	margin-top:176px;
	position:absolute;
	width:266px;
	transition:background .2s;
	text-align:center;
	padding-top:10px;
}

.dechiper-btn:hover{
	background:#283c64;
	transition:background .2s;
}